*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50vh;
    background:url(https://st.depositphotos.com/1004673/4078/i/450/depositphotos_40781001-stock-photo-trees-in-a-forest-with.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
    ;
}
nav{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.titulo{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Titan One', sans-serif;
    font-size: 3em;
    text-shadow: 3px 3px 5px rgb(180, 77, 228);
}
nav ul{
    display: flex;
}
nav li{
    list-style-type: none;
    margin-right: 20px;
    color: rgb(180, 77, 228);
}

nav li:hover{
    color: rgb(35, 34, 34);
    text-shadow: 0 0 5px rgb(8, 197, 18);
    
}

.cajota{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajita{
    text-align: center;
}

.boton{
    text-decoration: none;
    background-color: rgb(180, 77, 228);
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.boton:hover{
    color: antiquewhite;
    opacity: .5;
}

h1{
    font-size: 7em;
    letter-spacing: 10px;
    word-spacing: 20px;
}

/* comienza sección acerca */

#acerca{
    width: 100%;
    height: 50vh;
    
}

.subtitulo{
    width: 70%;
    height: 10vh;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.contenedor1{
    width: 90%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedor2{
    width: 45%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h2{
    font-size: 3em;
}

.contenedor2 img{
    width: 35%;
}

/* comienza sección saberes */

#saberes{
    width: 100%;
    height: 70vh;
    background: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(150, 165, 179);
}

.contenedor_saberes{
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.saber{
    width: 25%;
    height: 55vh;
    margin: auto;
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* de catto.css */
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

    text-align: center;
    align-content: center;
    justify-content: space-between;
    color: rgb(150, 165, 179);
}

.saber:hover{
    transform: scale3d(1.5, 1.5, 0.3);
    -webkit-transform: scale3d(1.5, 1.5, 0.3);
    -moz-transform: scale3d(1.5, 1.5, 0.3);
}
              
.saber img{
    width: 100%;
    height: 30vh;
    
}


.saber h3{
    text-shadow: 0 0 5px rgb(96, 177, 243);
    color: rgb(150, 165, 179);
}

/* logo de whatsapp */

.whatsapp{
    position: fixed;
    bottom: 1px;
    right: 1px;
}

#contacto{
    width: 100%;
    height: 60vh;    
}

.contenedor_contacto{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto{
    width: 50%;
    height: 50vh;
    box-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.aviso{
    display: none;
}

.check:hover{
    color: black;
    
}

.formulario{
    width: 100%;
    height: 50vh;
    font-size: 1.5em;
    
    }

.input{
    border: none;
    border-bottom: solid 1px black;
    
}

.check:hover~.aviso{
    display: block;
    position: absolute;
    background: linear-gradient(rgba(101, 136, 212, 0.5), rgba(122, 31, 122, .5));
    width: 50%;
    border: dashed 3px violet;
}


footer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 139);   
    color: rgb(192, 201, 209)
    
}

footer img{
    margin-right: 2em;
    margin-left: 2em;    
}

/* comienza diseño responsivo */
.hamburguesa{
    display: none;
}

@media(max-width:900px){
    nav ul{
        display: none;}
        .hamburguesa{display: block;}
        header{
            height: 70vh;
            text-align: center;        
        }
        #acerca{
            height: 60vh;            
        }
        .contenedor1{
            flex-direction: column;
        }
        .contenedor2{
            width: 100%;
        }
        #saberes{
            height: 190vh;
        }
        .contenedor_saberes{
            height: 180vh;
            flex-direction: column;            
        }
        .saber{
            width: 90%;
        }
        .contacto img{
            display: none;
        }
        .contacto{
            width: 90%;
            margin: auto;
        }

        nav ul{
            display:none;
            position: absolute;
            top: 50px;
            right: 100px;
        }
        input:checked  ~ ul{
            display:block;
            border: solid 3px blue;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(89, 206, 241);
            box-shadow: 5px 5px 5px 5px black;
             }

             input {
                display: none;
            }
            nav li{
                margin: 50px;
                padding: 10px;
        
           }
    
}

.portafolio{
    width: 100%;
    height: 100vh;
    background-color: rgb(57, 80, 155);
}

.contenedor-imagenes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

}

.imagenes{
    display: flex;
    width: 60%;
    height: 60vh;
    border: solid 5px black;
}

.contenedor-imagenes img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.contenedor-imagenes img:hover{
    cursor: crosshair;
    width: 40%;
    opacity: 1;
    filter: contrast(120%);
}

/* PSEUDO ELEMENTOS */

::-webkit-scrollbar{
    width: 12px;
    background-color: red;
  }

   ::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: blue;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  }

  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(rgba(255, 0, 221, 0.466),rgba(255, 0, 0, 0.459))
  }