*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50vh;
    background:url(https://st.depositphotos.com/1004673/4078/i/450/depositphotos_40781001-stock-photo-trees-in-a-forest-with.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
    ;
}
nav{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.titulo{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Titan One', sans-serif;
    font-size: 3em;
    text-shadow: 3px 3px 5px rgb(180, 77, 228);
}
nav ul{
    display: flex;
}
nav li{
    list-style-type: none;
    margin-right: 20px;
    color: rgb(180, 77, 228);
}

nav li:hover{
    color: rgb(35, 34, 34);
    text-shadow: 0 0 5px rgb(8, 197, 18);
    
}

.cajota{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajita{
    text-align: center;
}

.boton{
    text-decoration: none;
    background-color: rgb(180, 77, 228);
    color: white;
    padding: 10px;
    border-radius: 10px;

}

.boton:hover{
    color: antiquewhite;
    opacity: .5;
}

h1{
    font-size: 7em;
    letter-spacing: 10px;
    word-spacing: 20px;
}

/* comienza sección acerca */

#acerca{
    width: 100%;
    height: 50vh;
    
}

.subtitulo{
    width: 70%;
    height: 10vh;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.contenedor1{
    width: 90%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedor2{
    width: 45%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h2{
    font-size: 3em;

}

.contenedor2 img{
    width: 50%;
}


